.support {
  background-color: #fff0f5;
  padding: 40px 20px;
  text-align: center;
}

.support h2 {
  color: #ff4d6d;
  margin-bottom: 30px;
  font-size: 28px;
}

.support-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.support-item {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.support-item h3 {
  color: #ff4d6d;
  margin-bottom: 10px;
}

.support-item a {
  display: inline-block;
  margin-top: 10px;
  color: white;
  background-color: #ff4d6d;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
}

.support-item a:hover {
  background-color: #e63b5c;
}

/*==========Thông tin shop và bản đồ==========*/
/* KHỐI CHUNG: chia 2 cột trái - phải */
.contact-section {
    display: flex;              /* Chia layout ngang */
    gap: 30px;                  /* Khoảng cách 2 cột */
    padding: 40px;
}

/* BÊN TRÁI: thông tin / chú thích */
.contact-info {
    width: 35%;                 /* Chiếm 35% chiều ngang */
    background: #fff5f7;        /* Nền hồng nhạt */
    padding: 25px;
    border-radius: 10px;        /* Bo góc */
}

/* Tiêu đề */
.contact-info h2 {
    color: #ff012f;
    margin-bottom: 15px;
}

/* Nội dung từng dòng */
.contact-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #e70b0b;
}
/*==========Thông tin shop và bản đồ==========*/